.deco-border--header-nav{
    &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background: #fff;
        top: 0;
        left: -40px;
    }
}

.bg-secondary-opacity{
    background-color: $secondary;
    opacity: 0.8;
}
