// -------------------------banner-------------------------

.index__banner {
  background-image: url(../images/luis-vidal-FodEsaNZs48-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


// -------------------------place-------------------------

.index__place {
  background-image: url(../images/pexels-ivan-samkov-41647711.png);
  height: 379px;
  background-size: cover;
  background-position: center;
}

// swiper

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

.swiper {
  width: 600px;
  height: 350px;

  &-button-next,
  &-button-prev {
    position: unset;
    margin-top: 0;
  }

  &-buttons {
    position: absolute;
    top: -20px;
    left: 30%;
    z-index: 1;
    transform: translateX(-50%);
  }

}

// place link

.index__swiper{
  a{
    &::before{
      content: "";
      position: absolute;
      top: 70%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    &:hover::before{
      top: 0;
      background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.5));
      transition: all 0.3s;
    }
  }
  &__content{
    position: absolute;
    height: 452px;
    bottom: -162px;
    z-index: 2;
    &:hover{
      bottom: 30px;
      transition: all 0.3s;
    }
  }
  // &:hover{
  //   .index__swiper_content{
  //     bottom: 30px;
  //   }
  // }
}

// -------------------------feature-------------------------

// sidebar fixed menu

// .index__feature{
//   &__sideMenu{
//     position: fixed;
//     top: 50%;
//     left: 0px;
//     transform: translate(0%, -50%);
//     transition: all 0.3s ease 0s;
//   }
// }

// feature image
.index__feature {

  &__sideMenu{
    top: 50%;
  }

  &__img{
    height: 600px;
  }

  &__content{
    height: 600px;
  }
}

// -------------------------about us-------------------------

.index__aboutUs {
  background-image: url(https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &::after{
        content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0))
      }
  h2, p{
    position: relative;
    z-index: 2;
  }
}