// -------------------------banner-------------------------

.index__banner {
  background-image: url(../images/luis-vidal-FodEsaNZs48-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  @include pad{
    background-attachment: fixed;
  }
}


// -------------------------place-------------------------

.index__place {
  background-image: url(../images/pexels-ivan-samkov-41647711.png);
  height: 379px;
  background-size: cover;
  background-position: center;
}

// swiper

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

.swiper {
  width: 600px;
  height: 350px;

  &-wrapper{
    perspective: 3000;
    -webkit-perspective: 3000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &-button-next,
  &-button-prev {
    position: unset;
    margin-top: 0;
  }

  &-buttons {
    position: absolute;
    top: -20px;
    left: 30%;
    z-index: 1;
    transform: translateX(-50%);
  }

}

// place link

.index__swiper__place{
  a{
    &::before{
      content: "";
      position: absolute;
      top: 70%;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    @include pad{
      &:hover::before{
        top: 0;
        background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.5));
        transition: all 0.3s;
      }
    }
  }
  &__content{
    position: absolute;
    height: 452px;
    bottom: -162px;
    z-index: 2;
    @include pad{
      &:hover{
        bottom: 30px;
        transition: all 0.3s;
      }
    }
  }
  // &:hover{
  //   .index__swiper_content{
  //     bottom: 30px;
  //   }
  // }
}

// -------------------------feature-------------------------

// sidebar fixed menu

// .index__feature{
//   &__sideMenu{
//     position: fixed;
//     top: 50%;
//     left: 0px;
//     transform: translate(0%, -50%);
//     transition: all 0.3s ease 0s;
//   }
// }

// feature image
.index__feature {

  &__sideMenu{
    top: 50%;
  }

  &__img{
    height: 300px;
    @include pad{
      height: 600px;
    }

    // small pic
    &__gym::after{
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      right: 5%;
      top: 126px;
      background-image: url(../images/fitness_center_FILL0_wght400_GRAD200_opsz48.svg);
      opacity: 0.1;
      transform: scale(2);
      display: none;
      @include mobile{
        display: initial;
      }
      @include mobile-md{
        right: 10%;
      }
      @include pad{
        display: none;
      }
    }

    &__trainer::after{
      content: "";
      position: absolute;
      height: 48px;
      width: 48px;
      left: 5%;
      top: 126px;
      background-image: url(../images/self_improvement_FILL1_wght400_GRAD200_opsz48.svg);
      opacity: 0.1;
      transform: scale(2);
      display: none;
      @include mobile{
        display: initial;
      }
      @include mobile-md{
        left: 10%;
      }
      @include pad{
        display: none;
      }
    }

    &__exp::after{
      content: "";
      position: absolute;
      height: 48px;
      width: 48px;
      right: 5%;
      top: 126px;
      background-image: url(../images/forum_FILL1_wght400_GRAD200_opsz48.svg);
      opacity: 0.1;
      transform: scale(2);
      display: none;
      @include mobile{
        display: initial;
      }
      @include mobile-md{
        right: 10%;
      }
      @include pad{
        display: none;
      }
    }
  }

  &__content{
    height: auto;
    @include pad{
      height: 600px;
    }
  }
}

.nav-link{
  &.active{
    color: $secondary !important;
  }
}


// -------------------------about us-------------------------

.index__aboutUs {
  background-image: url(https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
  background-size: cover;
  background-position: center;
  @include pad{
    background-attachment: fixed;
  }
  &::after{
        content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0))
      }
  h2, p{
    position: relative;
    z-index: 2;
  }
}

// -------------------------selected PT-------------------------

.index__selectedPT{
  &__img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  &__leaf{
    width: 36px;
    @include mobile{
      width: 48px;
    }
    position: absolute;
    top: -48px;
    &--left{
      top: 0;
      left: -8px;
      @include mobile{
        left: 0;
      }
      @include mobile-md{
        top: -24px;
      }
    }
    &--right{
      top: 0;
      right: -8px;
      transform: rotateY(180deg);
      @include mobile{
        right: 0;
      }
      @include mobile-md{
        top: -24px;
      }
    }
  }
}

.index__swiper__pt{
  height: 100% !important;
  .swiper-slide{
    height: initial;
  }
  // a{
  //   overflow: hidden;
  //   :hover{
  //     color: $secondary;
  //     transition: all 0.5s ease 0s;
  //   }
  //   &::before{
  //     content: "";
  //     position: absolute;
  //     background: $primary;
  //     left: -40%;
  //     bottom: -25%;
  //     width: 150%;
  //     height: 0%;
  //     z-index: -1;
  //     transition: all 0.5s ease 0s;
  //     transform: rotate(25deg);
  //     overflow: hidden;
  //   }
  //   &:hover::before{
  //     height: 100%;
  //   }
  // }
  
}

