<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <header class="py-6 px-6 bg-secondary letter-space-1">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- header logo -->
      <h2><a class="fw-bold" href="#">Gym Plate</a></h2>
      <!-- header nav -->
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="btn btn-outline-white rounded-pill fs-7 py-2 px-8" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-white rounded-pill fs-7 py-2 px-8 ms-8" href="#">場地列表</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-white rounded-pill fs-7 py-2 px-8 ms-8" href="#">看板分類</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-white rounded-pill fs-7 position-relative deco-border--header-nav py-2 px-8 ms-20" href="#">登入</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <%- contents %>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer class="bg-secondary letter-space-1 py-6">
      <div class="container">
        <!-- footer logo -->
        <h2 class="display-4 fw-bold text-center text-lg-start"><a href="#">Gym Plate</a></h2>
        <hr class="bg-gray">
        <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-lg-between">
          <!-- footer nav -->
          <ul class="nav nav-pills mb-4 flex-column flex-md-row align-items-center">
            <li class="nav-item">
              <a class="nav-link text-white hover-text-primary ps-lg-0" href="#">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white hover-text-primary" href="#">場地列表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white hover-text-primary" href="#">教練討論區</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-white hover-text-primary pe-lg-0" href="#">會員登入</a>
            </li>
          </ul>
          <!-- footer info -->
          <div class="mb-12 mb-lg-4">
            <ul class="list-unstyled d-flex justify-content-center justify-content-sm-between align-items-center">
              <li><a href="#" title="facebook"><i class="bi bi-facebook d-block hover-text-white hover-scale-larger transtion-slow  fs-3"></i></a></li>
              <li><a href="#" title="twitter"><i class="bi bi-twitter d-block hover-text-white hover-scale-larger transtion-slow fs-3 ms-8"></i></a></li>
              <li><a href="#" title="instagram"><i class="bi bi-instagram d-block hover-text-white hover-scale-larger transtion-slow  fs-3 ms-8"></i></a></li>
              <li><a href="#" title="youtube"><i class="bi bi-youtube d-block hover-text-white hover-scale-larger transtion-slow  fs-3 ms-8"></i></a></li>
            </ul>
            <p class="align-middle text-center text-white mb-0">聯絡電話：<a class="link-white d-inline hover-text-primary" href="tel:0988666888">0988666888</a></p>
            <p class="align-middle text-white mb-0">Email：<a class="link-white d-inline hover-text-primary" href="mailto:gymplate@gmail.com">gymplate@gmail.com</a></p>
          </div>
        </div>
        <!-- footer copyright -->
        <p class="text-center mb-0">Copyright <i class="bi bi-c-circle"></i><br class="d-sm-none">Gym Plate All Rights Reserved.</p>
      </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>