.hover-text-primary{
    &:hover{
        color: $primary !important;
    }
}
.hover-text-white{
    &:hover{
        color: white !important;
    }
}

.hover-scale-larger{
    &:hover{
        transform: scale(1.3);
    }
}

.hover-bg-white{
    &:hover{
        background-color: #fff;
    }
}

.transtion-slow{
    transition: all 0.3s;
}