// text
.hover-text-primary{
    &:hover{
        color: $primary !important;
    }
}
.hover-text-white{
    &:hover{
        color: white !important;
    }
}
.hover-text-secondary{
    &:hover{
        color: $secondary !important;
    }
}

// background
.hover-bg-white{
    &:hover{
        background-color: #fff;
    }
}
.hover-bg-primary{
    &:hover{
        background-color: $primary;
    }
}
.hover-bg-secondary{
    &:hover{
        background-color: $secondary;
    }
}


// border
.hover-border-primary{
    &:hover{
        border: $primary;
    }
}

// scale
.hover-scale-larger{
    &:hover{
        transform: scale(1.3);
    }
}

// transition speed 
.transtion-slow{
    transition: all 0.3s;
}