// text
.hover-text-primary{
    &:hover{
        color: $primary !important;
    }
}
.hover-text-primary-light{
    &:hover{
        color: $primary-light !important;
    }
}
.hover-text-white{
    &:hover{
        color: white !important;
    }
}
.hover-text-secondary{
    &:hover{
        color: $secondary !important;
    }
}

// background
.hover-bg-white{
    &:hover{
        background-color: #fff;
    }
}
.hover-bg-primary{
    &:hover{
        background-color: $primary !important;
    }
}
.hover-bg-secondary{
    &:hover{
        background-color: $secondary;
    }
}
.hover-bg-primary-light{
    &:hover{
        background-color: $primary-light !important;
    }
}


// border
.hover-border-primary{
    &:hover{
        border: 5px solid $primary !important;
    }
}

// scale
.hover-scale-larger{
    &:hover{
        transform: scale(1.3);
    }
}

// transition speed 
.transtion-slow{
    transition: all 0.3s;
}

// 
.transition-toRight{
    &:hover{
        span{
            margin-left: 16px;
            transition: 0.3s;
        }
    }
}

// no hover
.focus-none{
    &:focus{
        border: none;
        box-shadow: none;
    }
    &:active{
        border: none;
        box-shadow: none;
    }
}